<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Van家作品/博物馆 - Tian</title>
    <link rel="stylesheet" type="text/css" href="/css/mcui.css">
    <link rel="stylesheet" type="text/css" href="/css/font.mcui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/zit.css">
    <meta http-equiv="Content-Language" contect="zh-CN">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <script src="js/zh-CN.js">
    </script>
    <!-- MDUI -->
    <link rel="stylesheet" href="css/mdui.min.css">
    <link href="../dist/css/lightgallery.css" rel="stylesheet">
    <script src="js/mdui.min.js"></script>
    <link href="../dist/css/lightgallery.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link href="css/video-js.min.css" rel="stylesheet">
    <!-- Vue -->
    <script src="js/vue.global.prod.js"></script>
    <style>
        .mdui-shadow-3 {
            border-radius: 8px;
            margin-right: 8px;
            margin-top: 8px;
        }

        @font-face {
            font-family: "MiSans";
            font-weight: 400;
            src: url("MiSans.ttf") format("ttf");
            font-display: swap;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/index.js"></script>
</head>

<body class="mcui-background-wool-auto padding-top mdui-theme-layout-auto mdui-appbar-inset mdui-appbar-with-toolbar mdui-appbar-with-tab mdui-theme-primary-blue-grey">
    <!-- loading开始 -->
    <div id="loading-animation">
        <div id="loading-animation-center">
            <div id="loading-animation-center-absolute">
                <img class="mdui-img-fluid" src="/img/logo.png">
                <div style="margin-top:100%;" class="mdui-progress">
                    <div class="mdui-progress-indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        ! function() {
            function e() {
                setTimeout(() => {
                    $("#loading-animation").fadeOut(540)
                }, 500)
            }
            window.jQuery ? $(document).ready(() => {
                e()
            }) : document.onreadystatechange = (() => {
                "interactive" === document.readyState && e()
            })
        }();
    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.js"></script>
    <!-- 这是Vue的 -->
    <div id="app">
        <header class="mdui-appbar mdui-drawer-full-height mdui-appbar-fixed mdui-shadow-0">
            <div class="mdui-toolbar mdui-color-theme-50">
                <a class="mdui-btn mdui-btn-icon toolbar-btn" mdui-drawer="{target: '#drawer', swipe: true}">
                    <i class="mdui-icon material-icons">menu</i>
                </a>
                <span class="mdui-typo-title">Tian</span>
                <a class="mdui-typo-headline" href="index.html"></a>
                <div class="mdui-toolbar-spacer"></div>
                <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#translate'}">
                    <i class="mdui-icon material-icons">translate</i>
                </button>

                <ul class="mdui-menu" id="translate">
                    <li class="mdui-menu-item">
                        <a href="javascript:translate.changeLanguage('chinese_simplified');">简体中文</a>
                    </li>
                    <li class="mdui-menu-item">
                        <a href="javascript:translate.changeLanguage('chinese_traditional');">繁體中文</a>
                    </li>
                </ul>
            </div>
            <div class="mdui-tab mdui-tab-centered mdui-color-theme-50" mdui-tab>
                <a onclick="activeTab1()" href="#new" class="mdui-ripple mdui-ripple-white">
                    <i class="mdui-icon material-icons" id="tabIcon1">add_a_photo</i>
                    <label>作品</label>
                </a>
                <a onclick="activeTab2()" href="#old" class="mdui-ripple mdui-ripple-white">
                    <i class="mdui-icon material-icons" id="tabIcon2">account_balance</i>
                    <label>博物馆</label>
                </a>
            </div>
        </header>
        <div class="mdui-drawer mdui-color-theme-50 mdui-drawer-close mdui-shadow-0" id="drawer">
            <!-- 顶部图片 -->
            <p></p>
            <div class="chtb">
                <img :src="config?config.drawer.header:null" style="width: 100%;" :style="{opacity: config?1:0}">
            </div>
            <p></p>
            <ul class="mdui-list" mdui-collapse="{accordion: true}" style="padding: 8px;">
                <!-- 侧滑布局 -->
                <li v-if="config &amp;&amp; config.drawer" v-for="item in config.drawer.items" class="mdui-collapse-item mdui-collapse-item">
                    <a :href="item.href" class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">{{item.icon}}</i>
                        <div class="mdui-list-item-content">{{item.name}}</div>
                        <i v-if="item.subItems" class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </a>
                    <ul v-if="item.subItems" class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <a v-for="subItem in item.subItems" :href="subItem.href" class="waves-block radius">
                            <li class="mdui-list-item mdui-ripple" :mdui-dalog="subItem.dialog">{{subItem.name}}</li>
                        </a>
                    </ul>
                </li>
                <script defer src="https://busuanzi.9420.ltd/js"></script>
                <span style="position:fixed;bottom:0;" class="mdui-center mdui-typo-body-2-opacity">
                    <pre>Powered by MDUI & Xiaoioi
本站总访客数 <span id="busuanzi_site_uv"></span> 人
本站总访问量 <span id="busuanzi_site_pv"></span> 次                </pre>
                </span>
            </ul>
        </div>
        <div class="mdui-container" style="padding-top:;">
            <div id="new">
                <div class="mdui-content mdui-grid-list" align="center">
                    <div v-if="config" v-for="group in config.vans" class="">
                        <div class="mdui-row-xs-2 mdui-row-md-3 mdui-row-lg-10 mdui-row-xl-12">
                            <a v-for="item in group.items" class="mdui-col vancard" :href="item.img" target="_self">
                                <img class="mdui-shadow-3 mdui-img-fluid" data-src="item.img" :src="item.img" data-sub-html="<h4>Bowness Bay</h4><p>A</p>">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="old" class="mdui-p-a-2">
                There is nothing here.
                <div class="mdui-content mdui-grid-list" align="center">
                    <div class="">
                        <div class="mdui-row-xs-2 mdui-row-md-3 mdui-row-lg-10 mdui-row-xl-12">
                            <a class="mdui-col vancard" href="item.img" target="_self">
                                <img class="mdui-shadow-3 mdui-img-fluid" data-src="item.img" src="item.img" data-sub-html="<h4>Bowness Bay</h4><p>A</p>">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <i align="center" class="mdui-icon material-icons mdui-center mdui-typo-display-2-opacity">help_outline</i>
            <h2 align="center">申请投稿</h2>
            <h3 align="center">QQ群 - 群相册</h3>
        </div>
</body>
<link href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" type="ee71b4ea12285dc3ed787f94-text/javascript"></script>

<style>
    .vancard {
        padding: 8px 8px;
        border: 0;
        border-radius: 8px;
        /* margin: 8px; */
        text-decoration: none;
        /* display: block; */
    }

    .block {
        height: 10%;
    }
</style>
<script>
    function activeTab1() {
        document.getElementById('tabIcon1').classList.add("mdui-color-theme-300");
        document.getElementById('tabIcon1').style.padding = "4px 24px";
        document.getElementById('tabIcon2').classList.remove("mdui-color-theme-300");
        document.getElementById('tabIcon2').style.padding = "4px 4px";
    }

    function activeTab2() {
        document.getElementById('tabIcon2').classList.add("mdui-color-theme-300");
        document.getElementById('tabIcon2').style.padding = "4px 24px";
        document.getElementById('tabIcon1').classList.remove("mdui-color-theme-300");
        document.getElementById('tabIcon1').style.padding = "4px 4px";
    }
    activeTab1();
</script>
<script src="https://res.zvo.cn/translate/translate.js"></script>
<script src="js/translate.js"></script>

</html>