<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>Tian</title>
    <link rel="stylesheet" type="text/css" href="/css/mcui.css">
    <link rel="stylesheet" type="text/css" href="/css/font.mcui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/zit.css">
    <link href="/dist/css/lightgallery.css" rel="stylesheet">
    <meta http-equiv="Content-Language" contect="zh-CN">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <script src="js/zh-CN.js">
    </script>
    <!-- MDUI -->
    <link rel="stylesheet" href="css/mdui.min.css">
    <script src="js/mdui.min.js"></script>
    <script src="js/translate.js"></script>
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <!-- Vue -->
    <script src="js/vue.global.prod.js"></script>
    <style>
        .mdui-shadow-3 {
            border-radius: 8px;
            margin-right: 8px;
            margin-top: 8px;
        }

        @font-face {
            font-family: "MiSans";
            font-weight: 400;
            src: url("MiSans.ttf") format("ttf");
            font-display: swap;
        }

        .content-about img {
            width: 90px;
        }

        .mcui-dialog {
            padding-bottom: 8px;
        }
    </style>
    <!-- style>
        .div {
            perspective: 500;
            -webkit-perspective: 500;
            width: 100%;
            height: 100%;
        }

        .rotate {
            animation-name: rotate;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            width: 100%;
            height: 100%;
        }

        @keyframes rotate {
            0% {
                transform: rotateY(0deg);
            }

            25% {
                transform: rotateY(90deg) translateY(8px);
            }

            50% {
                transform: rotateY(180deg) translateY(16px);
            }

            75% {
                transform: rotateY(270deg) translateY(8px);
            }

            100% {
                transform: rotateY(360deg);
            }
        }

        .shadow {
            width: 128px;
            height: 128px;
            margin-left: calc(50% - 64px);
            border-radius: 128px;
            background-color: #999999;
            transform: rotateX(75deg);
            animation-name: blur;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

        @keyframes blur {
            0% {
                filter: blur(48px);
            }

            50% {
                filter: blur(32px);
            }

            100% {
                filter: blur(48px);
            }
        }
    </style -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/index.js"></script>
</head>

<body class="mcui-background-wool-auto mdui-theme-layout-auto mdui-appbar-inset mdui-appbar-with-toolbar mdui-theme-primary-blue-grey">

    <!-- 这是Vue的 -->
    <div id="app">
        <header class="mdui-appbar mdui-drawer-full-height mdui-appbar-fixed mdui-shadow-0">
            <div class="mdui-toolbar mdui-color-theme-50">
                <a class="mdui-btn mdui-btn-icon toolbar-btn" mdui-drawer="{target: '#drawer', swipe: true}">
                    <i class="mdui-icon material-icons">menu</i>
                </a>
                <span class="mdui-typo-title">Tian</span>
                <a class="mdui-typo-headline" href="index.html"></a>
                <div class="mdui-toolbar-spacer"></div>
                <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#translate'}">
                    <i class="mdui-icon material-icons">translate</i>
                </button>

                <ul class="mdui-menu" id="translate">
                    <li class="mdui-menu-item">
                        <a href="javascript:translate.changeLanguage('chinese_simplified');">简体中文</a>
                    </li>
                    <li class="mdui-menu-item">
                        <a href="javascript:translate.changeLanguage('chinese_traditional');">繁體中文</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="mdui-drawer mdui-color-theme-50 mdui-drawer-close mdui-shadow-0" id="drawer">
            <!-- 顶部图片 -->
            <p></p>
            <div>
                <img :src="config?config.drawer.header:null" style="width: 100%;" :style="{opacity: config?1:0}">
            </div>
            <ul class="mdui-list" mdui-collapse="{accordion: true}" style="padding: 8px;">
                <!-- 侧滑布局 -->
                <li v-if="config &amp;&amp; config.drawer" v-for="item in config.drawer.items" class="mdui-collapse-item mdui-collapse-item">
                    <a :href="item.href" class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">{{item.icon}}</i>
                        <div class="mdui-list-item-content">{{item.name}}</div>
                        <i v-if="item.subItems" class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </a>
                    <ul v-if="item.subItems" class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <a v-for="subItem in item.subItems" :href="subItem.href" class="waves-block radius">
                            <li class="mdui-list-item mdui-ripple" :mdui-dalog="subItem.dialog">{{subItem.name}}</li>
                        </a>
                    </ul>
                </li>
                <script defer src="https://busuanzi.9420.ltd/js"></script>
                <span style="position:fixed;bottom:0;" class="mdui-center mdui-typo-body-2-opacity">
                    <pre>Powered by MDUI & MCUI
本站总访客数 <span id="busuanzi_site_uv"></span> 人
本站总访问量 <span id="busuanzi_site_pv"></span> 次                </pre>
                </span>
            </ul>
        </div>
    </div>

    <div class="mdui-container" style="padding-top:;">
        <div align="center">
            <div class="div">
                <img src="/img/logo.png" class="mdui-img-fluid rotate">
            </div>
            <h2 class="mdui-typo texte">甜瓜の生存服成立于2021年10月29日，是一个比较完美的我的世界基岩版养老生存服</h2>

            <p></p>
            <button class="mdui-color-theme-accent mdui-color-green-500 mdui-bn mdui-ripple mcui-btn-base" onclick="location.href='/docs#/start'"><i class="mdui-icon material-icons">play_circle_outline</i> 开始游戏</button>
            <button class="mdui-color-theme-accent mdui-color-light-blue-500 mdui-bn mdui-ripple mcui-btn-base" onclick="location.href='/docs'"><i class="mdui-icon material-icons">insert_drive_file</i> 帮助文档</button>
            <p></p>
            <button class="mdui-color-theme-accent mdui-color-red-500 mdui-bn mdui-ripple mcui-btn-base" onclick="location.href='/money.html'"><i class="mdui-icon material-icons">favorite</i> 赞助</button>
            <button class="mdui-color-theme-accent mdui-color-blue-600 mdui-bn mdui-ripple mcui-btn-base" onclick="location.href='//jq.qq.com/?_wv=1027&amp;k=tSlOEt0U'"><i class="mdui-icon material-icons">add</i> QQ群聊</button>
            <button class="mdui-color-theme-accent mdui-color-blue-600 mdui-bn mdui-ripple mcui-btn-base" onclick="location.href='http://tianmlp.xunpan.tk/'"><i class="mdui-icon material-icons">add</i> 加入论坛</button>
        </div>
        <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-2" mdui-panel>
            <div class="mdui-panel-item">
                <div class="mdui-panel-item-header">
                    <div class="mdui-panel-item-title">查看公吿</div>
                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-panel-item-body">
                    <p />
                    <div class="mcui-alert mdui-container mdui-col">
                        <!-- 卡片的标题和副标题 -->
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">通知</div>
                        </div>

                        <!-- 卡片的内容 -->
                        <div class="mdui-card-content">主服正在维护，大约2月7日开服 <del>恢复时长两年半</del></div>

                        <!-- 卡片的按钮 -->
                        <div class="mdui-card-actions">
                        </div>
                    </div>
                    <p />
                    <div class="mcui-alert mdui-container mdui-col">
                        <!-- 卡片的标题和副标题 -->
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">活动</div>
                        </div>

                        <!-- 卡片的内容 -->
                        <div class="mdui-card-content">流浪草方块计划开始 地点钟表菜单公共传迭点</div>

                        <!-- 卡片的按钮 -->
                        <div class="mdui-card-actions">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div style="padding-bottom:5px;" class="mdui-content mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-2 " align="center">
            <div class="mdui-container mdui-col" align="center">
                <h4 class="mdui-text-color-theme-accent detail_tle_1"></h4>
                <p class="mdui-typo-subheading-opacity mdui-text-color-black-600 detail_dec_1"></p>
                <img class="mdui-shadow-3 mdui-img-fluid" src="img/1efcd324d1617ee50ffbdc20085062a2.jpeg">
            </div>
            <div class="mdui-container mdui-col" align="center">
                <h4 class="mdui-text-color-theme-accent detail_tle_2"></h4>
                <p class="mdui-typo-subheading-opacity mdui-text-color-grey-600 detail_dec_2"></p>
                <img class="mdui-shadow-3 mdui-img-fluid" src="img/14da737dca7f1de839db10759e419291.jpeg">
            </div>
        </div>
        <div class="mdui-row">
            <div class="mcui-dialog mdui-col-md-6 mdui-center">
                <div class="mdui-m-y-1 mcui-alert">
                    <div class="mdui-text-color-blue" align="center">关于我们</div>
                </div>
                <div class="mcui-alert mdui-row-xs-3 mdui-row-md-5 mdui-center content-about">
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_1" src="//q1.qlogo.cn/g?b=qq&amp;nk=1789055955&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_1">甜瓜</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_1">服主</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_3" src="//q1.qlogo.cn/g?b=qq&amp;nk=3467109261&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_3">୧( ⁼̴̶̤̀ω⁼̴̶̤́ )૭</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_3">服务器赞助</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_2" src="//q1.qlogo.cn/g?b=qq&amp;nk=2872385395&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_2">ㅤ</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_2">维护</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_2" src="//q1.qlogo.cn/g?b=qq&amp;nk=2672516588&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_2">qweemm</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_2">维护</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_3" src="//q1.qlogo.cn/g?b=qq&amp;nk=2854196320&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_3">乔晓啸</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_3">官网制作</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_3" src="//q1.qlogo.cn/g?b=qq&amp;nk=2803118348&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_3">飞羊</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_3">创造服腐竹</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_3" src="//q1.qlogo.cn/g?b=qq&amp;nk=3294145480&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_3">一桶桶装水⁧⁧</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_3">OP</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_3" src="//q1.qlogo.cn/g?b=qq&amp;nk=3081636005&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_3">猫猫盒</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_3">OP</p>
                    </div>
                    <div class="mdui-col mdui-p-a-0">
                        <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_3" src="//q1.qlogo.cn/g?b=qq&amp;nk=2668055805&amp;s=100">
                        <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_3">。</h4>
                        <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_3">OP</p>
                    </div>
                    <a href="//fabu.mcmzw.ml">
                        <div class="mdui-col mdui-p-a-0">
                            <img class="mdui-img-circle mdui-center mdui-shadow-3 content-about-img auth_ico_3" src="//q1.qlogo.cn/g?b=qq&amp;nk=2928633076&amp;s=100">
                            <h4 class="mdui-text-center content-about-h4 mdui-text-color-grey-700 auth_name_3">土豆整合包</h4>
                            <p class="mdui-text-center content-about-p mdui-text-color-grey-600 auth_info_3">点我</p>
                        </div>
                    </a>
                </div>
            </div>
            <p></p>
            <div class="mcui-dialog mdui-col-md-6 mdui-center">
                <div class="mdui-m-y-1 mcui-alert">
                    <div class="mdui-text-color-blue" align="center">数据</div>
                </div>
                <div class="mcui-alert">
                    <div class="mdui-row mdui-center" align="center">
                        <div class="mdui-p-t-1 mdui-col-xs-6">
                            <div class="mdui-typo-title">玩家总数</div>
                            <div class="mdui-typo-subheading">1000+</div>
                            <div class="mdui-typo-caption">* 三周目 424人 (22-1-14)</div>
                        </div>
                        <div class="mdui-p-t-1 mdui-col-xs-6 mdui-cobl-md-12">
                            <div class="mdui-hidden-sm-down"></div>
                            <div class="mdui-typo-title">收到的捐款</div>
                            <div class="mdui-typo-subheading">350</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mcui-dialog mdui-col-xs-12 mdui-col-md-6 mdui-center">
                <div class="mdui-m-y-1 mcui-alert">
                    <div class="mdui-text-color-blue" align="center">联系我们</div>
                </div>
                <div class="mdui-row-xs-2">
                    <div class="mdui-row mdui-center">
                        <div class="mdui-col-xs-12 mdui-cobl-md-12">
                            <div class="mdui-hidden-sm-down"></div>
                            <button class="mdui-color-theme-accent mdui-btn-block mdui-color-blue-600 mdui-btn1 mdui-ripple mcui-btn-base" onclick="location.href='//jq.qq.com/?_wv=1027&amp;k=tSlOEt0U'"><i class="mdui-icon material-icons">group</i> 交流Q群</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mcui-dialog mdui-col-xs-12 mdui-col-md-6 mdui-center">
                <div class="mdui-m-y-1 mcui-alert">
                    <div class="mdui-text-color-blue" align="center">友情链接</div>
                </div>
                <div class="mcui-alert">
                    <a href="//www.mzwbbs.com"><img class="mdui-img-fluid mdui-center mdui-ripple" align="center" src="img/mzwbbs.svg"></a>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    .texte {
        background-image: linear-gradient(to right, orange, purple);
        -webkit-background-clip: text;
        color: transparent;
    }
</style>
<script src="https://res.zvo.cn/translate/translate.js"></script>

</html>