<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/mcui.css">
    <link rel="stylesheet" type="text/css" href="/css/font.mcui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/zit.css">
    <title>赞助 - Tian</title>
    <link href="/dist/css/lightgallery.css" rel="stylesheet">
    <meta http-equiv="Content-Language" contect="zh-CN">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <script src="js/zh-CN.js">
    </script>
    <!-- MDUI -->
    <link rel="stylesheet" href="css/mdui.min.css">
    <link href="../dist/css/lightgallery.css" rel="stylesheet">
    <script src="js/mdui.min.js"></script>
    <link href="../dist/css/lightgallery.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link href="css/video-js.min.css" rel="stylesheet">
    <!-- Vue -->
    <script src="js/vue.global.prod.js"></script>
    <style>
        html,
        body {
            scroll-behavior: smooth;
        }

        .-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        #afdian_leaflet {
            width: 640px !important;
            height: 210px !important;
            border-radius: 16px;
        }

        @media screen and (max-width:600px) {
            #afdian_leaflet {
                width: 100% !important;
            }
        }
    </style>
    <style>
        .mdui-shadow-3 {
            border-radius: 8px;
            margin-right: 8px;
            margin-top: 8px;
        }

        @font-face {
            font-family: "MiSans";
            font-weight: 400;
            src: url("MiSans.ttf") format("ttf");
            font-display: swap;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/index.js"></script>
</head>

<body class="mcui-background-wool-auto mdui-theme-layout-auto mdui-theme-primary-blue-grey">
    <!-- 这是Vue的 -->
    <div id="app">
        <header class="mdui-theme-primary-blue-grey mdui-appbar mdui-drawer-full-height mdui-appbar-fixed mdui-shadow-0">
            <div class="mdui-toolbar mdui-color-theme-50">
                <a class="mdui-btn mdui-btn-icon waves-circle toolbar-btn" mdui-drawer="{target: '#drawer', swipe: true}"> <i class="mdui-icon material-icons">menu</i> </a>
                <span class="mdui-typo-title">Tian</span> <a class="mdui-typo-headline" href="index.html"></a>
                <div class="mdui-toolbar-spacer"></div>
            </div>
        </header>
        <div class="mdui-dialog" id="bilibili">
            <div class="mdui-dialog-title">BiliBili 视频</div>
            <div class="mdui-dialog-content">There is nothing here.</div>
            <div class="mdui-dialog-actions">
                <button class="mdui-btn mdui-ripple" mdui-dialog-close=""><i class="mdui-icon material-icons">close</i></button>
            </div>
        </div>
        <div class="mdui-drawer mdui-color-theme-50 mdui-theme-primary-blue-grey mdui-drawer-close mdui-shadow-0" id="drawer">
            <!-- 顶部图片 -->
            <p></p>
            <div class="chtb">
                <img :src="config?config.drawer.header:null" style="width: 100%;" :style="{opacity: config?1:0}">
            </div>
            <p></p>
            <ul class="mdui-list" mdui-collapse="{accordion: true}" style="padding: 8px;">
                <!-- 侧滑布局 -->
                <li v-if="config &amp;&amp; config.drawer" v-for="item in config.drawer.items" class="mdui-collapse-item mdui-collapse-item">
                    <a :href="item.href" class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">{{item.icon}}</i>
                        <div class="mdui-list-item-content">{{item.name}}</div>
                        <i v-if="item.subItems" class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </a>
                    <ul v-if="item.subItems" class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <a v-for="subItem in item.subItems" :href="subItem.href" class="waves-block radius">
                            <li class="mdui-list-item mdui-ripple" :mdui-dalog="subItem.dialog">{{subItem.name}}</li>
                        </a>
                    </ul>
                </li>
                <script defer src="https://busuanzi.9420.ltd/js"></script>
                <span style="position:fixed;bottom:0;" class="mdui-center mdui-typo-body-2-opacity">
                    <pre>Powered by MDUI & Xiaoioi
本站总访客数 <span id="busuanzi_site_uv"></span> 人
本站总访问量 <span id="busuanzi_site_pv"></span> 次                </pre>
                </span>
            </ul>
        </div>
    </div>
    <iframe class="mdui-center" style="width:100%;" height="550px" src="https://tianmaf.xiaoioi.tk" scrolling="no" frameborder="0"></iframe>
    <div class="mdui-container">
        <div class="mcui-dialog">
            <h2 class="mcui-alert mdui-m-l-1 mdui-m-r-1 mdui-text-center">非爱发电赞助</h2>
            <div class="mcui-alert mdui-m-l-1 mdui-m-r-1">
            <div class="mdui-row">
                <ul class="mdui-list mdui-col-md-6">
                    <li style="color:#FDB500;" class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=1785698359&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">Dust</div>
                        100.1<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li style="color:#FFFB8B;" class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=1447133647&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">aaab114514</div>
                        88.88<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=QQ&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">Max</div>
                        50<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=3294145480&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">一桶桶装水</div>
                        15<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=2729127549&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">MJddp</div>
                        25<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=QQ&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">InexactWindow10</div>
                        10+45<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=QQ&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">Ifeelwindy</div>
                        6<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=2117252926&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">LOL2117252926</div>
                        20<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=2803118348&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">A Fly Sheep</div>
                        5<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                </ul>
                <ul class="mdui-list mdui-col-md-6">
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                            <img src="//q1.qlogo.cn/g?b=qq&amp;nk=483444749&amp;s=100" />
                        </div>
                        <div class="mdui-list-item-content">我是小纪狗</div>
                        10<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-avatar">
                        </div>
                        <div class="mdui-list-item-content">lbw8092</div>
                        5.96<i class="mdui-icon material-icons">attach_money</i>
                    </li>
                </ul>
            </div>
        </div>
        </div>

        <i align="center" class="mdui-icon material-icons mdui-center mdui-typo-display-2-opacity">help_outline</i>
        <div class="mdui-table-fluid">
            <table class="mdui-table">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>怎么赞助过但列表没有我</td>
                        <td>私信群主</td>
                    </tr>
                    <tr>
                        <td>怎么没有微信</td>
                        <td>私信群主/使用爱发电</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mcui-dialog" align="center">
            <div class="mcui-tab mdui-tab-full-width mdui-text-color-white" mdui-tab>
                <a href="#tab1" class="mdui-ripple">支付宝</a>
                <a href="#tab2" class="mdui-ripple">微信</a>
            </div>
            <div id="tab1" class="mdui-p-a-2">
                <img class="mdui-img-fluid mdui-center" src="/img/zfb.jpg">
            </div>
            <div id="tab2" class="mdui-p-a-2">
                <i align="center" class="mdui-icon material-icons mdui-center mdui-typo-display-2-opacity">do_not_disturb</i>
                <h2 align="center">微信赞助</h2>
                <h3 align="center">请使用爱发电</h3>
            </div>
        </div>
    </div>
    <p></p>
    </div>
</body>
</html>